# Archivos o carpetas que deseas ignorar
node_modules/
vendor/

# Ignorar archivos de configuración específicos del IDE
.idea/
.vscode/

# Ignorar archivos de caché y sesiones
*.log
*.cache
*.session

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db

# Ignorar las imágenes generadas por PHP dentro de la carpeta img
img/*_codigo.*

# Permitir archivos PHP
!*.php
